<h1>Welcome</h1>

<div class="play-container">
  <p>
    You've clicked
    <button class="btn btn-dark" (click)="countClick()">this</button>
    {{ clickCounter }} times.
  </p>
</div>

<div class="play-container">
  <p>
    <input type="text" [(ngModel)]="name" />
    <br />
    <strong> You said: </strong> {{ name }}
  </p>
</div>

<div
  class="play-container"
  [style.background-color]="clickCounter > 4 ? '#52A8F2' : '#683CA6'"
>
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    <p>The click counter <strong>IS GREATER THAN</strong> 4.</p>
  </ng-template>

  <ng-template #none>
    <p>The click counter <strong>IS LESS THAN</strong> 4.</p>
  </ng-template>
</div>
